<div class="da-login">
  <d-toast [value]="toastMessage"></d-toast>
  <div class="da-login-form">
    <div class="da-login-logo-wrapper">
      <div class="da-login-logo">
        <span class="da-logo-devui">
          <img src="../../../../../assets/bank.jpg" alt="DevUI-Logo" />
        </span>
        <span class="da-text">HWBank</span>
      </div>
      <span class="da-coperation">
        OnlineBank
      </span>
    </div>
    <div class="da-login-ways">
      <d-tabs [(activeTab)]="tabActiveId" type="pills">
        <d-tab *ngFor="let item of tabItems" [id]="item.id">
          <ng-template dTabTitle>
            <span class="da-tabs-title">
              {{ item.title }}
            </span>
          </ng-template>
        </d-tab>
      </d-tabs>
      <ng-container *ngIf="tabActiveId === 'tab1'; else loginWithEmail">
        <ng-template [ngTemplateOutlet]="loginWithPassword"></ng-template>
      </ng-container>
    </div>
    <div class="da-other">
      <a routerLink="/register">注册账户</a>
    </div>
  </div>

  

  <da-footer></da-footer>
</div>

<ng-template #loginWithPassword>
  <form dForm [layout]="horizontalLayout" [labelSize]="'sm'" ngForm (dSubmit)="onClick(tabActiveId)">
    <d-form-item>
      <d-form-label>用户名：</d-form-label>
      <d-form-control>
        <div>
          <input
            dTextInput
            autocomplete="off"
            name="userName"
            placeholder="Admin or User"
            [(ngModel)]="formData.userAccount"
            [dValidateRules]="formRules['usernameRules']"
          />
        </div>
      </d-form-control>
    </d-form-item>
    <d-form-item>
      <d-form-label>密码：</d-form-label>
      <d-form-control [suffixTemplate]="suffixTemplate">
        <input
          dTextInput
          name="password"
          [type]="showPassword ? 'text' : 'password'"
          placeholder="DevUI.admin"
          [(ngModel)]="formData.userAccountPassword"
          (keyup)="onKeyUp($event, tabActiveId)"
          [dValidateRules]="formRules['passwordRules']"
        />
      </d-form-control>
    </d-form-item>
    <div class="da-login-options">
      <div class="da-auto-login">
        <d-toggle [checked]="true"></d-toggle>
        <span class="da-auto-login-text" style="margin-left: 8px">
          自动登录
        </span>
      </div>
      <span
        ><a href="#">忘记密码？</a></span
      >
    </div>
    <button class="da-submit-button" dFormSubmit>
      提交
    </button>
  </form>
</ng-template>
<ng-template #loginWithEmail>
  <form dForm [layout]="horizontalLayout" [labelSize]="'sm'" ngForm (dSubmit)="onClick(tabActiveId)">
    <d-form-item>
      <d-form-label>邮箱：</d-form-label>
      <d-form-control>
        <div>
          <input
            dTextInput
            autocomplete="off"
            name="userEmail"
            placeholder="admin@devui.com"
            [(ngModel)]="formData.userEmail"
            [dValidateRules]="formRules['emailRules']"
          />
        </div>
      </d-form-control>
    </d-form-item>
    <d-form-item>
      <d-form-label>密码：</d-form-label>
      <d-form-control [suffixTemplate]="suffixTemplate">
        <input
          dTextInput
          [type]="showPassword ? 'text' : 'password'"
          name="emailPassword"
          placeholder="devuiadmin"
          [(ngModel)]="formData.userEmailPassword"
          (keyup)="onKeyUp($event, tabActiveId)"
          [dValidateRules]="formRules['passwordRules']"
        />
      </d-form-control>
    </d-form-item>
    <div class="da-login-options">
      <div class="da-auto-login">
        <d-toggle [checked]="true"></d-toggle>
        <span class="da-auto-login-text" style="margin-left: 8px">
          自动登录
        </span>
      </div>
      <span
        ><a href="#">忘记密码？</a></span
      >
    </div>
    <button class="da-submit-button" dFormSubmit>
      提交
    </button>
  </form>
</ng-template>

<ng-template #suffixTemplate>
  <i
    [class]="showPassword ? 'icon icon-preview' : 'icon icon-preview-forbidden'"
    (click)="showPassword = !showPassword"
  ></i>
</ng-template>
