

  <div class="da-content-banner">
    <div class="da-content-banner-title">
      转账
    </div>
</div>
  <div class="da-content-wrapper">
    <da-layout-row [daGutter]="[24, 24]">
      <da-col-item [daSpan]="24" [daXs]="24">
        <div class="da-content-card">
          <div class="transfer-box">
            <div class="info-box">
              <dp-task-step [currStep]="currStep" [align]="'center'" [steps]="steps" (stepChange)="displayCurrStep($event)"></dp-task-step>
              <div class="box">
                <div style="margin-top: 70px;">
                  <ng-container [ngSwitch]="currStep">
                      <app-transfer-info [transferBody]="transferBody"  *ngSwitchCase="0"></app-transfer-info>
                      <app-transfer-confirm [transferBody]="transferBody" *ngSwitchCase="1"></app-transfer-confirm>
                      <app-transfer-complete [transferData]="transferData" *ngSwitchCase="2"></app-transfer-complete>
                  </ng-container>
                  <div style="margin-top: 20px">
                    <d-button [bsStyle]="currStep === 1 ? 'common' : 'primary'" *ngIf="currStep === 1" (btnClick)="preStep()" style="margin-right: 20px;"> 上一步</d-button>
                    <d-button *ngIf="currStep !== 2" (btnClick)="nextStep()"> 下一步</d-button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </da-col-item>
    </da-layout-row>
  </div>
