tr {
    :nth-child(1) {
        width: 200px;
        background-color: #e8e7e7;
    }
    :nth-child(2) {
        width: 400px;
        background-color:#fafafa;
    }
    td {
        height: 50px;
        text-align:center;
        border: 1px solid #fff;
        font-size: 14px;
    }
}
.width-400 {
    width: 400px !important
}